<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <meta charset="utf-8">
  <title>Dog CEO Application</title>
</head>

<body>
<div class="container text-center" id="app">
  <h3 class="text-center">Dog Breeds</h3>
  <p>Number of Breeds: {{Object.keys(allBreeds).length}}</p>
  <span>Selected Breeds(Max selection: {{maxSelection}}) {{ selectedBreeds }}</span>
  <div>
    <button class="btn btn-primary" @click="getImgsForAll">Get new Images</button>
  </div>

  <hr>

  <div class="container">
    <div class="row">
      <div class="text-center columns col-3 " style="overflow: scroll; height: 90vh">

        <ol>
          <li v-for="(value, name) in allBreeds">

            <input
              type="checkbox"
              :id=name
              :value=name
              v-model="selectedBreeds"
              :disabled="selectedBreeds.length >= maxSelection && selectedBreeds.indexOf(name) === -1"
            >
            <label :for=name>{{ name }}({{value.length}}) </label>
          </li>
        </ol>
      </div>

              <div class="text-center columns col-9">
                <h3>Photos are shown here:</h3>
                <h3>{{picsUrls.length}}</h3>
                <ol>
                  <li v-for="(item, breedIndex) in picsUrls">
                    <p class="text-center">{{item.breedName}}</p>
                    <div class="card text-center" v-for="(urlAdd, urlIndex) in item.urlArr">
                      <h5 class="card-title">{{item.breedName}}</h5>
                      <img class="card-img-bottom rounded" :src="urlAdd" />
                      <span>Not like it? </span>
                      <button
                        class="btn btn-danger"
                        @click="removeElement(breedIndex, urlIndex)"
                      >
                        DELETE it!</button>
                    </div>
                    <hr>
                  </li>
                </ol>
              </div>
    </div>
  </div>

  <hr>
</div>

<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script src="vueApp.js"></script>

<style scoped>
  button {
    margin: 3px;
  }

  .card {
    display: inline-block;
    width: 200px;
  }

  .card img {
     width: 180px;
     height: 180px;
     margin: auto;
     object-fit: cover;
  }

</style>

</body>
</html>
